<div id="content">
    <span id="title">A propos du site</span>
    <div>
        <p class="text">
            Ce site est un projet universitaire qui a pour but de reproduire un site de Ecommerce.<br />
            Mon site à reproduire était celui de Darty.<br /><br /><br />
            Lien du GitHub <a href="https://github.com/Baste95/Site-Ecommerce-Angular-MongoDB">https://github.com/Baste95/Site-Ecommerce-Angular-MongoDB</a><br><br><br>
            Bastien Pelmard

        </p>
    </div>
</div>
