
<div id="content">
    <span id="title">Admin : Supprimez un produit</span>
    <hr/>
    <form id="delete-product-form" [formGroup]="deleteProductForm" (ngSubmit)="onSubmit(deleteProductForm)" class="formFlex">

        <div class="field">
            <input id="name-input" type="text" name="name" class="input" formControlName="name" placeholder=" " autocomplete="off">
            <label for="name" class="label">Nom du produit</label>
        </div>

    
        
        
    </form>

    <hr/>

    <div id="div-btn">
        <button id="delete-product-button" type="submit" [disabled]="deleteProductForm.invalid" form="delete-product-form">Supprimez</button>
        
    </div>
    
</div>
