
<div id="content">
    <span id="title">Admin : Supprimez une catégorie</span>
    <hr/>
    <form id="delete-categorie-form" [formGroup]="deleteCategorieForm" (ngSubmit)="onSubmit(deleteCategorieForm)" class="formFlex">

        <div class="field">
            <input id="name-input" type="text" name="name" class="input" formControlName="name" placeholder=" " autocomplete="off">
            <label for="name" class="label">Nom de la catégorie</label>
        </div>

    
        
        
    </form>

    <hr/>

    <div id="div-btn">
        <button id="delete-categorie-button" type="submit" [disabled]="deleteCategorieForm.invalid" form="delete-categorie-form">Supprimez</button>
        
    </div>
    
</div>
