
<div id="content">
    <span id="title">Admin : Ajoutez une catégorie</span>
    <hr/>
    <form id="update-categorie-form" [formGroup]="updateCategorieForm" (ngSubmit)="onSubmit(updateCategorieForm)" class="formFlex">

        <div class="field">
            <input id="name-input" type="text" name="name" class="input" formControlName="name" placeholder=" " autocomplete="off">
            <label for="name" class="label">Nom de la catégorie</label>
        </div>

        <div class="field">
            <input id="newname-input" type="text" name="newname" class="input" formControlName="newname" placeholder=" " autocomplete="off">
            <label for="newname" class="label">Nouveau nom</label>
        </div>

        <div class="field">
            <input id="description-input" type="text" name="description" class="input" formControlName="description" placeholder=" ">
            <label for="description" class="label">Description de la catégorie</label>
        </div>

        <div class="field">
            <input id="subcategories-input" type="text" name="subcategories" class="input" formControlName="subcategories" placeholder=" ">
            <label for="subcategories" class="label">Sous-catégories</label>
        </div>
        
        
    </form>

    <hr/>

    <div id="div-btn">
        <button id="update-categorie-button" type="submit" [disabled]="updateCategorieForm.invalid" form="update-categorie-form">Mis à jour</button>
        
    </div>
    
</div>
