
    <div id="content">
            <span id="title">Admin : Suppresion de commandes</span>
            <hr/>
            <form id="login-form" [formGroup]="orderForm" (ngSubmit)="onSubmit(orderForm)" class="formFlex">

                <div class="field">
                    <input id="name-input" type="text" name="name" class="input" formControlName="name" placeholder=" " autocomplete="off">
                    <label for="name" class="label">ID de la commande</label>
            
                </div>


            </form>

            <hr/>

            <div id="div-btn">
                <button id="login-button" type="submit" [disabled]="orderForm.invalid" form="login-form">Commandez</button>
                
            </div>
    </div>



