
<div id="content">
    <span id="title">Changement d'adresse</span>
    <hr/>
    <form id="signup-form" [formGroup]="signupForm" (ngSubmit)="onSubmit(signupForm)" class="formFlex">

        <div class="field" [ngClass]="(f.adress.invalid && (f.adress.dirty || f.adress.touched)) ? 'field-error' : 'field'">
            <input id="adress-input" type="text" name="adress" class="input" formControlName="adress" placeholder=" ">
            <label for="adress" class="label">Adresse</label>
        </div>

        <div class="field" >
            <input id="adress2-input" type="text" name="adress2" class="input" formControlName="adress2" placeholder=" ">
            <label for="adress2" class="label">Adresse 2 (facultatif)</label>
        </div>

        <div class="field" [ngClass]="(f.zip.invalid && (f.zip.dirty || f.zip.touched)) ? 'field-error' : 'field'">
            <input id="-input" type="text" name="zip" class="input" formControlName="zip" placeholder=" ">
            <label for="zip" class="label">Code Postal</label>
        </div>

        <div class="field" [ngClass]="(f.city.invalid && (f.city.dirty || f.city.touched)) ? 'field-error' : 'field'">
            <input id="city-input" type="text" name="city" class="input" formControlName="city" placeholder=" ">
            <label for="city" class="label">Ville</label>
        </div>

        <div class="field" [ngClass]="(f.country.invalid && (f.country.dirty || f.country.touched)) ? 'field-error' : 'field'">
            <input id="country-input" type="text" name="country" class="input" formControlName="country" placeholder=" ">
            <label for="country" class="label">Pays</label>
        </div>

        <div class="field" [ngClass]="(f.county.invalid && (f.county.dirty || f.county.touched)) ? 'field-error' : 'field'">
            <input id="county-input" type="text" name="county" class="input" formControlName="county" placeholder=" ">
            <label for="county" class="label">Région</label>
        </div>
    </form>

    <hr/>

    <div id="div-btn">
        <button id="signup-button" type="submit" [disabled]="signupForm.invalid" form="signup-form">Enregistrer</button>
        
    </div>
    
</div>

